*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times,;
}

body{
    margin: 0;
}

h1{
    font-size: 2.5rem;
    text-align: center;
}

h2{
    font-size: 1.5rem;
    text-align: center;
}
a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}
p{
    font-size: 1.2rem;
    text-align: justify;
}

.dotted-hr{
    border: dotted 6px white;
    border-bottom: none;
    margin: 20px auto;
    width: 70px;
}

[class*="col-"]{
    float: left;
    padding: 10px;
}

/* for mobile  */
[class*="col-"]{
    width: 100%;
}


/* navbar design starts here  */

.navbar{
    background-color: #92a8d1;
    padding: 1% 7%;
    text-align: center;
}

.navbar h1{
    color: white;
    margin: 0;
    padding-top: 8px;
}

.navbar-menu{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.navbar-menu a{
    background-color: #0c6168;
    border-radius: 10px;
    margin: 7px 0px;
    padding: 10px;
}

.navbar-menu a:hover{
    background-color: gray;
}


.navbar::after{
    content: '';
    display: table;
    clear: both;
}

/* navbar design ends here  */

/* notice timeline part start */
.notice-timeline{
    margin-top: -22px;
}
.notice-timeline h2{
    background-color: red;
    border-radius: 20px;
}
/* notice timeline part end */
.welcome-intro h2{
    text-decoration: bold;
    font-size: 18px;
}

.box{
    border: 1px solid black;
    margin: 0 25px;
}

.notices h3{
    font-size: 25px;
    margin-bottom: 4px;
    padding-left: 15px;
    background-color: grey;
    border-radius: 9px;
}

.list li{
    list-style: none;
}

.list li a{
    color: black;
    padding-left: 17px;
    padding-top: 15px;
}

.box-2{
    border: 1px solid black;
    margin: 0 25px;
}

.button{
  padding-left: 240px;
}

.button a{
  color: white;
  background-color: blue;
  border-radius: 2px solid black;
}

.rules h3{
  background-color: gray;
  border-radius: 5px;
  font-size: 22px;
}

.rules-pdf p{
  padding-left: 35%
}

.notice-header h2{
  padding-right: 50px;
}







/* Footer part start */
.footer-main-div{
  width: 100%;
  height: auto;
  margin: auto;
  background: #272727;
  padding: 20px 0px;
}

.footer-social-icons{
  width: 100%;
  height: auto;
  margin: auto;
}

.footer-social-icons ul{
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.footer-social-icons ul li{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0px 10px;
  border-radius: 100%;
  background: #2FAB66;
}

.footer-social-icons ul li a{
  color: #272727;
  font-size: 25px;
  display: block;
}

.footer-social-icons ul li a i{
  line-height: 50px;
}

.footer-menu-one{
  width:100%;
  height: auto;
  margin: auto;
  margin-top: 10px;
}

.footer-menu-one ul{
 margin: 0px;
 padding: 0px;
 text-align: center;
}

.footer-menu-one ul li{
  display: inline-block;
  margin: 0px 15px;
}

.footer-menu-one ul li a{
  font-family: 'Times New Roman';
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  
}

.footer-menu-two{
  width:100%;
  height: auto;
  margin: auto;
  margin-top: 10px;
}

.footer-menu-two ul{
 margin: 0px;
 padding: 0px;
 text-align: center;
}

.footer-menu-two ul li{
  display: inline-block;
  margin: 0px 15px;
}

.footer-menu-two ul li a{
  font-family: 'Times New Roman';
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer-bottom{
  width: 100%;
  height: auto;
  margin: auto;
  background: #2FAB66;
  padding: 10px;
}

.footer-bottom p{
  font-family: arial;
  font-size: 14px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
}

.footer-bottom p a{
  color: #fff;
}
/* Footer part end */
  
